<!DOCTYPE html>
<html>
<head>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>


<div ng-app="myApp" ng-controller="myCtrl">
<div>
<h1 align='center'>
<div ng-repeat='dato in datos'>
<label>Dato:</label>{{dato.resource.fields.name}} 
<p><p>
<label>Valor:</label>{{dato.resource.fields.price}}
{{prueba}}
<br><br><br>
</h1>
</div>


<div align=center>
<label>Fecha a buscar</label>
<input align="center" type="text" ng-model='busqueda'>
<button ng-click='buscar(busqueda)'>Buscar</button>
<div>
<p>
fecha Buscada: {{existe}}
</p>
</div>
<p>
	Valor encontrado: {{valorEncontrado}}
</p>
</div>
</div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$interval) {
	$scope.mensaje='cargando....';
	var registros="no hay";
	
	$scope.agregar=$interval(function(){
		$http.get('https://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote?format=json').then(function(response){
			registros=response.data;
			
			$scope.datos = registros.list.resources;
			$scope.ultimaFecha=$scope.algo;
			})
		},1000);
		
	$scope.valorEncontrado='no encontramos un valor';	
	$scope.buscar=function(busqueda){
		$scope.existe=busqueda;
		for(var i=0; i<registros.length;i++){
			$scope.fechaCiclo=registros[i][0];
			if($scope.fechaCiclo===busqueda){
				$scope.valorEncontrado=registros[i][1];
			}
		}
		};		
});
</script>
</body>
</html>
